/*body {
  background-color: lightblue;
}*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_unequal */
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Attempt to remove border - but it doesn't work */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}